@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.profile {
  @include page;
  height: 100%;

  .user {
    * {
      color: $color-white
    }

    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__credentials {
      display: flex;
      gap: 20px;

      span {
        @include h1;
      }
    }

    &__position {
      font-size: $font-m;
    }

    &__contacts {
      display: flex;
      gap: 40px;

      * {
        font-size: $font-m;
      }

      &--phone {}

      &--email {}
    }

    &__description {
      border: 2px solid $color-grey;
      border-radius: 8px;
      padding: 24px 40px;
      width: 60%;
      height: 80%;
      line-height: 1.2;
      font-size: 1.1rem;
      background: $color-white;
      color: $color-black;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  button {
    @include button;
    margin-top: 15px;
  }

  .userUpdate {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__credentials {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;

      * {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 5px 10px;
        font-size: 3rem;
        flex-basis: 200px;
        background: $color-white;
      }

      &--name {}

      &--lastName {}

      &--nickName {}
    }

    &__position {
      font-size: $font-m;
      width: 200px;
      padding: 4px 8px;
      background: $color-white
    }

    &__contacts {
      display: flex;
      gap: 40px;

      * {
        padding: 4px 2px 4px 8px;
        background: $color-white;
        font-size: $font-m;
      }

      &--phone {}

      &--email {
        width: 300px;
      }
    }

    &__description {
      border: 2px solid $color-grey;
      border-radius: 8px;
      padding: 24px 40px;
      width: 100%;
      height: 50%;
      line-height: 1.2;
      font-size: 1.1rem;
      resize: none;
      background: $color-white;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button {
      width: fit-content;
    }
  }
}