@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.user {
  @include page;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto) 3fr auto;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "user__name user__name user__name"
    "user__position user__position user__position"
    "user__email user__phone ."
    "user__description user__description user__description"
    "user__edit . .";

  &__name {
    grid-area: user__name;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    span {
      @include h1;
    }
  }

  &__position {
    grid-area: user__position;
    font-size: $font-m;
  }

  &__email {
    grid-area: user__email;
    font-size: $font-m;
  }

  &__phone {
    grid-area: user__phone;
    font-size: $font-m;
  }

  &__description {
    grid-area: user__description;
    @include description;
  }

  &__edit {
    grid-area: user__edit;
    @include button;
    width: fit-content;
  }

}