@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

aside {
  flex: 1 0 15%;
  min-width: fit-content;
  height: calc(100vh - 72px);
  background: $color-gold;
  border-top: solid 2px $color-black;
  overflow-x: hidden;
  left: 0;
  font-size: 2rem;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  display: none;

  a,
  button {
    @include button;
    border-radius: 3px;
    justify-content: flex-start;
    background: $color-white
  }
}