@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

aside {
    width: 15%;
    height: calc(100vh - 72px);
    background: $color-gold;
    border-top: solid 2px $color-black;
    overflow-x: hidden;
    left: 0;
    position: fixed;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    a {
        @include button;
        border-radius: 3px;
        justify-content: flex-start;
        background: $color-white
    }


}