@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";


.companiesList {
  @include page;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  * {
    color: $color-white;
  }

  &__tittle {
    @include h1;
  }

  &__sort {
    display: grid;
    grid-template-columns: 2fr 1fr 150px;
    gap: 5px;

    button {
      color: $color-black;
      font-size: 1.1rem;
    }

    button.active {
      background-color: $color-blue;
      font-weight: 500;
    }

    &__name {}

    &__service {}
  }

  &__company {
    border-bottom: 3px solid;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr 150px;

    &__name {
      font-size: 2rem;
    }

    .companiesLIst__company__service {
      font-size: 1.5rem;
    }
  }

  .detail {
    justify-self: end;
    align-self: end;
    @include button;
    width: fit-content;
  }
}